body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  text-align: center;
  
}
h2{
  font-size: 160%;
  
}
#results{
  font-size: 180%;
}
#dealer-cards img{
  height: 200px;
  width: 150px;
}

#your-cards img{
  height: 200px;
  width: 150px;

}
#hit {
  width: 130px;
  height: 40px;
  font-size: 20px;
}

#stay {
  width: 130px;
  height: 40px;
  font-size: 20px;
}
.pravidla{
  font-size: 150%;
}
h3{
  font-size: 180%;
}
